[id^="container"] {
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    padding: 5px;
    margin: 0%;

    /* uncomment float left if issues */
    /* float: left; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    overflow-y: scroll;
    scrollbar-width:thin;
}

#container-title {
    overflow-y: hidden;
}
#container-category {
    overflow-y: hidden;
}
#container-tags {
    overflow-y: hidden;
}

