.title {
    font-size: larger;
}

.dates{
    padding-left: 40px;
}
.category {
    padding-left: 40px;
}
.tags {
    padding-left: 40px;
}
.contributors {
    padding-left: 40px;
}
.description {
    padding-left: 40px;
}
.contents {
    padding-left: 40px;
}
.contributor-links {
    padding-left: 80px;
}
.indent {
    padding-left: 40px;
}
